commands:
  01_install_certbot:
    command: |
      sudo dnf install -y augeas-libs
      sudo python3 -m venv /opt/certbot/
      sudo /opt/certbot/bin/pip install --upgrade pip
      sudo /opt/certbot/bin/pip install certbot certbot-nginx
      sudo ln -sf /opt/certbot/bin/certbot /usr/bin/certbot
    test: "[ ! -f /usr/bin/certbot ]"

container_commands:
  01_stop_certbot_timer:
    command: "sudo systemctl stop certbot-renew.timer || true"
    ignoreErrors: true