commands:
  01_install_certbot:
    command: |
      sudo dnf install -y augeas-libs python3-pip
      sudo python3 -m venv /opt/certbot/
      sudo /opt/certbot/bin/pip install --upgrade pip
      sudo /opt/certbot/bin/pip install certbot certbot-nginx
      sudo ln -sf /opt/certbot/bin/certbot /usr/bin/certbot
    test: "[ ! -f /usr/bin/certbot ]"

container_commands:
  01_obtain_certificate:
    command: |
      CERTBOT_EMAIL=$(/opt/elasticbeanstalk/bin/get-config environment -k CERTBOT_EMAIL)
      CERTBOT_DOMAIN=$(/opt/elasticbeanstalk/bin/get-config environment -k CERTBOT_DOMAIN)
      
      certbot --nginx \
        --non-interactive \
        --agree-tos \
        --email ${CERTBOT_EMAIL} \
        --domains ${CERTBOT_DOMAIN} \
        --redirect
  
  02_setup_auto_renewal:
    command: |
      echo "0 0,12 * * * root certbot renew --quiet --nginx" > /etc/cron.d/certbot-renew
      chmod 644 /etc/cron.d/certbot-renew