files:
  "/etc/nginx/conf.d/https_redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
          listen 80;
          server_name _;
          
          location /.well-known/acme-challenge/ {
              root /var/www/html;
              allow all;
          }
          
          location / {
              return 301 https://$host$request_uri;
          }
      }
