commands:
  01_install_certbot:
    command: |
      sudo dnf install -y augeas-libs python3-pip
      sudo python3 -m venv /opt/certbot/
      sudo /opt/certbot/bin/pip install --upgrade pip
      sudo /opt/certbot/bin/pip install certbot certbot-nginx
      sudo ln -sf /opt/certbot/bin/certbot /usr/bin/certbot
    test: "[ ! -f /usr/bin/certbot ]"

container_commands:
  01_setup_certbot:
    command: |
      # Execute the Certbot setup script
      chmod +x /var/app/staging/bin/setup-certbot.sh
      /var/app/staging/bin/setup-certbot.sh
    leader_only: true
